.col-sm-12 .page-header{
display:none;
}
#node-89 .submitted span{
display:none;
}
#block-webform-client-block-105{
width:48%;
float:left;
margin-left:20px;
}
#block-block-3{
width:40%;
float:left;
margin-left:20px;
max-height: 355px;
overflow: auto;
}
#block-block-4{
clear:both;
width:37.5%;
position:absolute;
bottom: 7%;
left: 51%;
border:1px solid #ccc;
padding:15px;
}
#block-block-4 .content{
margin:0px;
}
#block-block-4 .content p{
margin:0px;
}
#block-webform-client-block-105 h2{
font-size:20px;
}
#edit-submitted-company{
width:100%;
background:none;
height:34px;
border:1px solid #ccc;
}
#edit-submitted-company:focus{
}
#webform-client-form-105 input,
#webform-client-form-105 textarea{
border-radius:0px;
}
#webform-client-form-105 .control-label{
display:none;
}
#webform-client-form-105 .img-responsive{
float:right;
width:90px;
margin-right:59%;
border:1px solid #ccc;
}
#webform-client-form-105 #edit-captcha-response{
width:100%;
float:left;
}
.company-header{
border-bottom:1px solid #ccc;
width:95%;
}
.company-header h2{
font-size:20px;
margin-bottom:5px;
}
.company-footer a{
color:#333;
}
.page-node-89 .region-content{
overflow:hidden;
position:relative;
}
#webform-client-form-105 .reload-captcha-wrapper{
    position: absolute;
    left: 41%;
    top: 19%;
    width:21px;
 }
#webform-client-form-105 .reload-captcha{
   background:url("../images/re.png") no-repeat;
    display:block;
    text-indent: -20cm;
}
.page-node-89 #main{
width:100% !important;
}
#webform-client-form-105 input{
width:98.5%;
height: 24px;
}
.company-detail img{
vertical-align:middle;
}
.company-header p{
margin:0px;
margin-bottom:5px;
}
.company-footer p{
margin:0px;
}
#webform-client-form-105 .captcha{
overflow:hidden;
position:relative;
}
#webform-client-form-105 .form-item-captcha-response{
width:25%;
}
#webform-client-form-105 .captcha img{
float:right;
width:80px;
height:32px;
border: 1px solid #ccc;
margin-right: 60%;
margin-top:4px;
}
#webform-client-form-105 .form-item label{
display:none;
}
#webform-client-form-105 .form-item .description{
display:none;
}
#webform-client-form-105 .form-actions input{
width: 26.5%;
border:none;
background:#c3c3c3;
color:white;
height:auto;
font-size: 20px;
padding:10px;
}
#webform-client-form-105 .form-actions{
padding:0px;
}
#block-block-4 p img{
vertical-align:middle;
}
@media only screen and (min-width:320px) and (max-width:479px){
#webform-client-form-105 .form-item-captcha-response{
width:33%;
}
#block-webform-client-block-105{
width:100%;
margin-left:0px;
}
#webform-client-form-105 .img-responsive{
margin-right:24%;
}
#webform-client-form-105 #edit-captcha-response{
width:100%;
}
#webform-client-form-105 .form-actions button{
padding: 5px 44px;
width:43%;
}
#block-block-3{
width:100%;
margin-left:0px;
margin-top:35px;
max-height:100%;
}
#block-block-4{
width:100%;
float:left;
position:static;
margin-top: 20px;
}
#webform-client-form-105 .form-actions input{
padding:3px;
width:36%;
}
#webform-client-form-105 .captcha img{
margin-right:36%;
}
#webform-client-form-105 .reload-captcha-wrapper{
left: 67%;
}
}
@media only screen and (min-width:480px) and (max-width:639px){
#webform-client-form-105 .form-item-captcha-response{
width:33%;
}
#block-webform-client-block-105{
width:100%;
margin-left:0px;
}
#webform-client-form-105 .img-responsive{
margin-right:24%;
}
#webform-client-form-105 #edit-captcha-response{
width:100%;
}
#webform-client-form-105 .form-actions button{
padding: 5px 44px;
width:43%;
}
#block-block-3{
width:100%;
margin-left:0px;
margin-top:35px;
max-height:100%;
}
#block-block-4{
width:100%;
float:left;
position:static;
margin-top: 20px;
}
#webform-client-form-105 .form-actions input{
padding:3px;
width:35%;
}
#webform-client-form-105 .captcha img{
margin-right:46%;
}
#webform-client-form-105 .reload-captcha-wrapper{
left: 55%;
}
}
@media only screen and (min-width:640px) and (max-width:960px){
#webform-client-form-105 .form-item-captcha-response{
width:33%;
}
#block-webform-client-block-105{
width:100%;
margin-left:0px;
}
#webform-client-form-105 .img-responsive{
margin-right:24%;
}
#webform-client-form-105 #edit-captcha-response{
width:100%;
}
#webform-client-form-105 .form-actions button{
padding: 5px 44px;
width:43%;
}
#block-block-3{
width:100%;
margin-left:0px;
margin-top:35px;
max-height:100%;
}
#block-block-4{
width:100%;
float:left;
position:static;
margin-top: 20px;
}
#webform-client-form-105 .form-actions input{
padding: 13px 3px;
width: 34.5%;
}
#webform-client-form-105 .captcha img{
margin-right:51%;
}
#webform-client-form-105 .reload-captcha-wrapper{
left: 50%;
}
}
@media only screen and (min-width:961px) and (max-width:1295px){
#webform-client-form-105 #edit-captcha-response{
width: 100%;
}
#webform-client-form-105 .form-item-captcha-response{
width:25%;
}
#webform-client-form-105 .img-responsive{
margin-right: 37%;
}
#webform-client-form-105 .captcha img{
margin-right: 53%;
}
#webform-client-form-105 .reload-captcha-wrapper{
left:50%;
}
#webform-client-form-105 .form-actions input{
width:27%;
}
#block-block-4{
bottom: 8%;
}
#webform-client-form-105 .form-actions button{
padding: 6px 58px;
width: 35%;
}
}
