#block-views-banner-slider-block .flex-control-nav{
position:absolute;
padding:0px;
bottom:40px;
z-index:11;
}
#block-views-banner-slider-block{
position: relative;
}
#block-views-banner-slider-block .view-header{
    position: absolute;
    z-index: 11;
    margin-top: 60px;
    margin-left: 40px;
}

#block-views-banner-slider-block .view-header a {
display:inline-block;
margin-right:20px;
}
#block-views-banner-slider-block .view-header a img{
width:176px;
height:124px;
}

#block-views-banner-slider-block .view-footer .home-video{

}

#block-views-banner-slider-block .view-footer .home-video .video-button{
background:rgba(255,255,255,1.5);
    position: absolute;
    z-index: 11;
    bottom:110px;
   left:50px;
padding: 15px 40px 10px 40px;
}
#block-views-banner-slider-block .view-footer .home-video .video-button span{
background:url(../images/video-button.png) no-repeat 0 0;
height:29px;
width:195px;
display:inline-block;
margin-left:15px;
cursor: pointer;
}

#block-views-banner-slider-block .view-footer .home-video .video-content{
position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 860px;
    height:462px;
    background: #fff;
    z-index:1001;
    padding: 0px;

}
#block-views-banner-slider-block .view-footer .home-video .close{
height: 30px;
    float: right;
    font-size: 25px;
    margin-right: 10px;
    position: absolute;
    right: 0px;
    color: #fff;
    cursor: pointer;
width:30px;
text-align:center;
}



.page-bottom-slider {
background:#f0f0f0;
}

.page-bottom-slider .view-header{
text-align:center;
margin-bottom:20px;
margin-top:20px;
position: relative;
}
.page-bottom-slider .view-header a{
 background:#ccc;
 color:#fff;
 padding:8px 16px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.page-bottom-slider .view-header img{
max-width:100%;
}
.page-bottom-slider .views-field-field-image{
width:50%;
float:left;
}
.slides li{
padding:0px;
margin:0px;
}

.page-bottom-slider .views-field-body,
.page-bottom-slider .views-field-title,
.page-bottom-slider .views-field-view-node{
width:46%;
float:left;
margin-left:2%;
}

.page-bottom-slider .views-field-view-node{
font-size:18px;
}
.page-bottom-slider .views-field-title{
font-size:24px;
color:#333;
    padding-top: 10px;
    margin-bottom: 10px;
border-top:2px solid #ccc;
}
.flexslider{
 border:0px;
 border-radius:0;
box-shadow:none;
background:none;
}

.flexslider .slides img{
height:auto;
}

.page-bottom-slider .flex-control-nav{
position: inherit;
bottom: 10px;
margin-top: 90px !important;
}

.flex-control-thumbs{
    z-index: 2;
    position: absolute;
    bottom: 0px;
text-align:center;
height:93px;
background:rgba(0,0,0,0.5);

}
.flex-control-thumbs li{
width:120px;
margin-left:20px;
float:none;
display:inline-block;
margin-top:20px;
margin-bottom:15px;
}
.flex-control-thumbs li:hover{
width:150px;
border:1px solid #333;
}
.flex-control-paging li a{
width:8px;
height:8px;
background:#ccc;
}
.flex-control-paging li a.flex-active{
background:#208a38;
}

.flexslider .flex-caption{
width:80px;
height:40px;
}

.product-middle{
overflow:hidden;
}
.product-middle .col-1{
float:left;
width:29%;
height:450px;
margin-right:1%;
}
.product-middle .col-2{
float:left;
width:70%;
height:450px;
}

.product-middle .col-1 li{
height:450px;
}

.product-middle .col-2 li{
float:left;
width:48%;
height:210px;
margin-left:2%;
margin-bottom:15px;
}
.product-middle li{
position: relative;
}
.product-middle li p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin: 0px;
    line-height: 40px;
text-indent: 10px;
color:#fff;
}
.product-middle li img{
width:100%;
height:210px;
}
.product-middle .col-1 li img{
height:450px;
}
.education-middle .row-1{
clear:both;
overflow:hidden;
}
.education-middle .row-1 .col-1{
width:69%;
float:left;
height:480px;
margin-right:1%;
}
.education-middle .row-1 .col-1 .row-11{
height:265px;
margin-bottom:15px;
overflow:hidden;
}
.education-middle .row-1 .col-1 .row-11 li{
height:265px;
}

.education-middle .row-1 .col-1 .row-22{
height:200px;
}
.education-middle .row-1 .col-1 .row-22 li{
width:50%;
float:left;
height:200px;
}

.education-middle .row-1 .col-2{
width:30%;
float:left;
height:480px;
}
.education-middle .row-1 .col-2 li{
height:480px;
}
.education-middle .row-2{
 margin-top:15px;
overflow:hidden;
clear:both;
}
.education-middle .row-2 li{
width:50%;
float:left;
height:280px;
}


.education-middle ul li{
position: relative;
}
.education-middle ul li img{
width:100%;
height:100%;
}
.education-middle ul li p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin: 0px;
    line-height: 40px;
text-indent: 10px;
color:#fff;
}
.manufacture-middle .col-1{
width:31%;
float:left;
margin-right:1%;
height:980px;
}


.manufacture-middle .col-2{
width:33%;
float:left;
margin-right:1%;
height:980px;
}
.manufacture-middle .col-3{
width:34%;
float:left;
height:980px;
}
.manufacture-middle  li{
position: relative;
}
.manufacture-middle  li img{
width:100%;
}
.manufacture-middle ul li p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin: 0px;
    line-height: 40px;
text-indent: 10px;
color:#fff;
}
.culture-middle .row-1{
clear:both;
overflow:hidden;
height:400px;
}
.culture-middle .row-2{
clear:both;
overflow:hidden;
height:220px;
margin-top:15px;
}
.culture-middle .row-1 .col-1{
width:38%;
float:left;
margin-right:1%;
}
.culture-middle .row-1 .col-2{
width:30%;
float:left;
margin-right:1%;
}
.culture-middle .row-1 .col-3{
width:30%;
float:left;
}

.culture-middle .row-2 li{
width:40%;
float:left;
margin-right:1%;
}
.culture-middle .row-2 li img{
height:220px;
}

.culture-middle .row-2 li:last-child{
width:59%;
float:left;
margin-right:0px;
}
.culture-middle li{
position: relative;
}
.culture-middle li img{
width:100%;
}

.culture-middle ul li p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin: 0px;
    line-height: 40px;
text-indent: 10px;
color:#fff;
}

.about-middle .col-1{
 width:32%;
float:left;
margin-right:1%;
}
.about-middle .col-2{
 width:34%;
float:left;
margin-right:1%;
}

.about-middle .col-3{
 width:32%;
float:left;
}
.about-middle li{
position: relative;
}

.about-middle li img{
width:100%;
}

.about-middle ul li p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin: 0px;
    line-height: 40px;
text-indent: 10px;
color:#fff;
}


.region-content-banner{
overflow: hidden;
clear: both;
}
.region-content-middle{
overflow: hidden;
clear: both;
}
.region-content-bottom{
margin-top:50px;
overflow: hidden;
clear: both;
}



@media (max-width:1400px){
}

@media (max-width:1200px){
#header div.section,
#messages div.section,
#main,
#footer-wrapper div.section {
 width: 960px;
 margin:0 auto;
}
}
@media (max-width:960px){

#header div.section,
#messages div.section,
#main,
#footer-wrapper div.section {
 width: 95%;
}

}
@media (max-width:640px){

#header div.section,
#messages div.section,
#main,
#footer-wrapper div.section {
 width: 90%;
}

}

@media (max-width:480px){

#header div.section,
#messages div.section,
#main,
#footer-wrapper div.section {
 width: 100%;
}


}
