#block-views-banner-slider-block .flex-control-nav{
position:absolute;
padding:0px;
bottom:10px;
z-index:11;
}

.flex-direction-nav{
display:none;
}

#block-views-banner-slider-block{
position: relative;
margin-bottom: 50px;
}
#block-views-banner-slider-block .view-header{
    position: absolute;
    z-index: 11;
    margin-top: 60px;
    margin-left: 40px;
}

#block-views-banner-slider-block .view-header a {
display:inline-block;
margin-right:20px;
}
#block-views-banner-slider-block .view-header a img{
width:176px;
height:124px;
}

#block-views-banner-slider-block .view-footer .home-video{

}

#block-views-banner-slider-block .view-footer .home-video .video-button{
background:rgba(255,255,255,1.5);
    position: absolute;
    z-index: 11;
    bottom:110px;
   left:50px;
padding: 15px 40px 10px 40px;
}
#block-views-banner-slider-block .view-footer .home-video .video-button span{
background:url(../images/video-button.png) no-repeat 0 0;
height:29px;
width:195px;
display:inline-block;
margin-left:15px;
cursor: pointer;
}

#block-views-banner-slider-block .view-footer .home-video .video-content{
position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 860px;
    height:462px;
    background: #000;
    z-index:1001;
    padding: 0px;

}
#block-views-banner-slider-block .view-footer .home-video .close{
height: 30px;
    float: right;
    font-size: 25px;
    margin-right: 10px;
    position: absolute;
    right: 0px;
    color: #fff;
    cursor: pointer;
width:30px;
text-align:center;
z-index:1002;
}



.page-bottom-slider {
background:#f0f0f0;
}

.page-bottom-slider .view-header{
text-align:center;
margin-bottom:20px;
position: relative;
}
.page-bottom-slider .view-header a{
 background:#ccc;
 color:#fff;
 padding:8px 16px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.page-bottom-slider .view-header img{
max-width:100%;
}
.page-bottom-slider .views-field-field-image{
width:50%;
float:left;
}
.slides li{
padding:0px;
margin:0px;
}

.page-bottom-slider .views-field-body,
.page-bottom-slider .views-field-title,
.page-bottom-slider .views-field-nothing{
width:46%;
float:left;
margin-left:2%;
}

.page-bottom-slider .views-field-nothing{
font-size:16px;
}
.page-bottom-slider .views-field-nothing span{
cursor: pointer;
}

.page-bottom-slider .views-field-title{
font-size:24px;
color:#333;
    padding-top: 10px;
    margin-bottom: 10px;
border-top:2px solid #ccc;
}
.flexslider{
 border:0px;
 border-radius:0;
box-shadow:none;
background:none;
margin-bottom:0px;
}

.flexslider .slides img{
height:auto;
}

.page-bottom-slider .flex-control-nav{
position: inherit;
bottom: 10px;
margin-top: 90px !important;
}

.flex-control-thumbs{
    z-index: 2;
    position: absolute;
    bottom: 0px;
text-align:center;
height:93px;
background:rgba(0,0,0,0.5);

}
.flex-control-thumbs li{
width:150px;
float:none;
display:inline-block;
margin-top:20px;
margin-bottom:15px;
}
.flex-control-thumbs img{
width:120px;
position: absolute;
}

.flex-control-thumbs img:hover{
width:140px;
}

.flex-control-paging li a{
width:8px;
height:8px;
background:#ccc;
}
.flex-control-paging li a.flex-active{
background:#208a38;
}

.flexslider .flex-caption{
width:80px;
height:40px;
}

.product-middle{
overflow:hidden;
}
.product-middle .col-1{
float:left;
width:29%;
height:450px;
margin-right:1%;
}
.product-middle .col-2{
float:left;
width:70%;
height:450px;
}

.product-middle .col-1 li{
height:450px;
}

.product-middle .col-2 li{
float:left;
width:48%;
height:210px;
margin-left:2%;
margin-bottom:15px;
}
.product-middle li{
position: relative;
}
.product-middle li p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin: 0px;
    line-height: 40px;
text-indent: 10px;
color:#fff;
}
.product-middle li img{
width:100%;
height:210px;
}
.product-middle .col-1 li img{
height:450px;
}
.education-middle .row-1{
clear:both;
overflow:hidden;
}
.education-middle .row-1 .col-1{
width:69%;
float:left;
height:480px;
margin-right:1%;
}
.education-middle .row-1 .col-1 .row-11{
height:265px;
margin-bottom:15px;
overflow:hidden;
}
.education-middle .row-1 .col-1 .row-11 li{
height:265px;
}

.education-middle .row-1 .col-1 .row-22{
height:200px;
}
.education-middle .row-1 .col-1 .row-22 li{
width:50%;
float:left;
height:200px;
}

.education-middle .row-1 .col-2{
width:30%;
float:left;
height:480px;
}
.education-middle .row-1 .col-2 li{
height:480px;
}
.education-middle .row-2{
 margin-top:15px;
overflow:hidden;
clear:both;
}
.education-middle .row-2 li{
width:50%;
float:left;
height:280px;
}


.education-middle ul li{
position: relative;
}
.education-middle ul li img{
width:100%;
height:100%;
}
.education-middle ul li p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin: 0px;
    line-height: 40px;
text-indent: 10px;
color:#fff;
}
.manufacture-middle .col-1{
width:31%;
float:left;
margin-right:1%;
height:980px;
}


.manufacture-middle .col-2{
width:33%;
float:left;
margin-right:1%;
height:980px;
}
.manufacture-middle .col-3{
width:34%;
float:left;
height:980px;
}
.manufacture-middle  li{
position: relative;
}
.manufacture-middle  li img{
width:100%;
}
.manufacture-middle ul li p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin: 0px;
    line-height: 40px;
text-indent: 10px;
color:#fff;
}
.culture-middle .row-1{
clear:both;
overflow:hidden;
height:400px;
}
.culture-middle .row-2{
clear:both;
overflow:hidden;
height:220px;
margin-top:15px;
}
.culture-middle .row-1 .col-1{
width:38%;
float:left;
margin-right:1%;
}
.culture-middle .row-1 .col-2{
width:30%;
float:left;
margin-right:1%;
}
.culture-middle .row-1 .col-3{
width:30%;
float:left;
}

.culture-middle .row-2 li{
width:40%;
float:left;
margin-right:1%;
}
.culture-middle .row-2 li img{
height:220px;
}

.culture-middle .row-2 li:last-child{
width:59%;
float:left;
margin-right:0px;
}
.culture-middle li{
position: relative;
}
.culture-middle li img{
width:100%;
}

.culture-middle ul li p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin: 0px;
    line-height: 40px;
text-indent: 10px;
color:#fff;
}

.about-middle .col-1{
 width:32%;
float:left;
margin-right:1%;
}
.about-middle .col-2{
 width:34%;
float:left;
margin-right:1%;
}

.about-middle .col-3{
 width:32%;
float:left;
}
.about-middle li{
position: relative;
}

.about-middle li img{
width:100%;
}

.about-middle ul li p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin: 0px;
    line-height: 40px;
text-indent: 10px;
color:#fff;
}


.region-content-banner{
overflow: hidden;
clear: both;
margin-bottom: 50px;
}
.region-content-middle{
overflow: hidden;
clear: both;
}
.region-content-bottom{
margin-top:50px;
overflow: hidden;
clear: both;
}
#more-link-content .close{
position: absolute;
    top: 0px;
    right:0px;
    background: #000;
    padding: 5px 10px;
    color: #fff;
    font-size: 22px;
}
#more-link-content{
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 650px;
    background: #fff;
    z-index: 1001;
    padding: 20px;

}
#more-link-content .title{
color:#208a38;
font-size:16px;
padding:10px 0px;
border-bottom:1px solid #ccc;
}
#more-link-content .content{
    overflow: auto;
    height: 530px;
    margin-top: 2px;
}
#more-link-content .control{
padding-top:10px;
margin-top:10px;
overflow:hidden;
border-top:1px solid #ccc;
}
#more-link-content .control .prv{
float:left;
display:block;
margin-left:10px;
}
#more-link-content .control .next{
float:right;
display:block;
margin-right:10px;

}
.subpage-banner{
position: relative;
}
.subpage-banner .flex-control-nav{
position: absolute;
    padding: 0px;
    bottom: 4px;
    z-index: 11;
}

.subpage-banner .view-footer{
background:rgba(0,0,0,0.5);
position: absolute;
bottom:0px;
z-index: 10;
width:100%;
font-size:18px;
color:#fff;
font-weight:bold;
height:45px;
line-height:45px;
text-indent: 20px;
}
.subpage-banner .view-footer p{
margin:0px;
}

#views-exposed-form-about-us-page-3{
display:none;
}

.about-overview .view-header{
text-align:center;
}
.about-overview .view-header .year_filter .dian{
    width: 8px;
    height: 8px;
    border-radius: 20px;
    display: inline-block;
    background: #ccc;
    margin-right: 20px;
    margin-top: 36px;
    margin-left: 36px;
}
.about-overview .view-header .year_filter a{
    width: 65px;
    display: inline-block;
}



.about-overview .view-header .year_filter a:hover .year,
.about-overview .view-header .year_filter a.active .year{
 background:#208a38;
color:#fff;
}
.about-overview .view-header .year_filter a:hover .dian,
.about-overview .view-header .year_filter a.active .dian{
background:#208a38;
}

.about-overview .view-header .year_filter .year{
    position: absolute;
 padding:3px 20px;
color:#fff;
}

.about-overview .view-content{
margin-top:40px;
}

.about-overview .view-content .views-row{
overflow: hidden;
    clear: both;
    height: 296px;
}

.about-overview .view-content .views-row .views-field-field-image{
width:38%;
float:left;
margin-right:2%;
}

.about-overview .view-content .views-row .views-field-field-image img{
width:100%;
}

.about-overview .view-content .views-row .views-field-title ,
.about-overview .view-content .views-row .views-field-body{
width:60%;
float:left;
} 
.about-overview .view-content .views-row .views-field-title {
border-bottom:1px solid #ccc;
font-size:14px;
color:#333;
font-weight:bold;
padding-bottom:5px;
}
.about-overview .view-content .views-row .views-field-title .date{
font-size:20px;
color:#208a38;
margin-right:20px;
}
.about-overview .view-content .views-row .views-field-title .date .y{
font-size:14px;
}
.about-overview .view-content .views-row .views-field-body{
margin-top:10px;
}
.about-overview .view-footer{
text-align:center;
}


@media (max-width:1400px){
}

@media (max-width:1200px){
#header div.section,
#messages div.section,
#main,
#footer-wrapper div.section {
 width: 95%;
 margin:0 auto;
}
}
@media (max-width:960px){

#header div.section,
#messages div.section,
#main,
#footer-wrapper div.section {
 width: 95%;
}

#block-views-banner-slider-block{
margin-bottom:0px;
}

#block-views-banner-slider-block .view-header{
margin-top:20px;
margin-left:10px;
}
#block-views-banner-slider-block .view-header a img{
width:100px;
height:70px;
}


#block-views-banner-slider-block .view-footer .home-video .video-button{
position:initial;
}
#block-views-banner-slider-block .view-footer .home-video .video-button span{
 background-size: 100%;
 width: 30%;
margin-left:3%;
}
}

@media (max-width:768px){

.region-content-banner{
margin-bottom: 20px;
}
.region-content-bottom{
margin-top:20px;
}


#header div.section,
#messages div.section,
#main,
#footer-wrapper div.section {
 width: 100%;
}


.page-bottom-slider{
margin-bottom:30px;
}

.page-bottom-slider .view-header{
position: inherit;
}

.page-bottom-slider .view-header a{
background: #ccc;
    color: #fff;
    padding: 8px 16px;
    position: absolute;
    top:inherit;
    right:inherit;
    bottom: 0px;
    width: 100%;
    left: 0px;
    z-index: 2;
}
.page-bottom-slider .views-field-field-image{
width:90%;
float:none;
margin-left:5%;
}


.page-bottom-slider .views-field-body,
 .page-bottom-slider .views-field-title, 
.page-bottom-slider .views-field-nothing{

width:90%;
float:none;
margin-left:5%;
}

.page-bottom-slider .flex-control-nav{
margin-top:10px !important;
display:none;
}
.page-bottom-slider .views-field-nothing{
color:#208a38;
margin-bottom: 50px;
}

.flex-direction-nav{
display:block;
}
.flex-direction-nav a{
 text-indent: -999px;
width:17px;
height:59px;
margin-top:-30px;
}
.flexslider:hover .flex-next{
 right:0px;
text-align: inherit;
background:url(../images/rightaa.png) no-repeat 0 0;
}
.flex-direction-nav .flex-prev{
left:0px !important;
background:url(../images/leftbb.png) no-repeat 0 0;
}


.flex-control-thumbs{
display:none;
}
.product-middle .col-1{
width:100%;
float:none;
height:auto;
margin-right:0px;
margin-bottom:15px;
}
.product-middle .col-1 li{
height:auto;
}
.product-middle .col-1 li img{
height:auto;
}

.product-middle .col-2{
width:100%;
height:auto;
float:none;
}

.product-middle .col-2 li{
width:100% !important;
height:auto !important;
margin-bottom:15px !important;
margin-left:0px !important;
float:none;
}
.product-middle .col-2 li img{
width:100%;
height:auto !important;
}

.manufacture-middle .col-1,
.manufacture-middle .col-2,
.manufacture-middle .col-3{
float:none;
width:100%;
margin-right:0px;
height:auto;
}
.manufacture-middle .col-1 li,
.manufacture-middle .col-2 li,
.manufacture-middle .col-3 li{
height:auto !important;
margin-bottom:15px !important;
}
.manufacture-middle .col-1 li img,
.manufacture-middle .col-2 li img,
.manufacture-middle .col-3 li img{
height:auto !important;
}


.education-middle .row-1 .col-1 ,
.education-middle .row-1 .col-2{
width:100%;
height:auto;
float:none;
}
.education-middle .row-1 .col-1 .row-11{
height:auto;
}
.education-middle .row-1 .col-1 .row-11 li{
height:auto;
}
.education-middle .row-1 .col-1 .row-22{
height:auto;
}
.education-middle .row-1 .col-1 .row-22 li{
height:auto;
width:100% !important;
margin-right:0px !important;
margin-bottom:15px;
float:none;
}

.education-middle .row-2 li{
width:100% !important;
float:none;
margin-right:0px !important;
margin-bottom:15px;
height:auto;
}
.education-middle .row-2 li img{
height:auto;
}

.culture-middle .row-1, .culture-middle .row-2{
 height:auto;
 width:100%;
margin-top:0px;
}
.culture-middle .row-1 .col-1,
.culture-middle .row-1 .col-2,
.culture-middle .row-1 .col-3{
height:auto;
width:100%;
float:none;
margin-right:0px;
}

.culture-middle .row-1 .col-1 li,
.culture-middle .row-1 .col-2 li,
.culture-middle .row-1 .col-3 li{
height:auto !important;
margin-bottom:15px;
}
.culture-middle .row-1 .col-1 li img,
.culture-middle .row-1 .col-2 li img,
.culture-middle .row-1 .col-3 li img{
height:auto !important;
}
.culture-middle .row-2 li{
height:auto;
width:100% !important;
float:none;
margin-bottom:15px;
}
.culture-middle .row-2 li img{
height:auto !important;
}
.about-middle .col-1,
.about-middle .col-2,
.about-middle .col-3{
width:100%;
margin-right:0px;
height:auto;
}

.about-middle .col-1 li,
.about-middle .col-2 li,
.about-middle .col-3 li{
width:100%;
margin-right:0px;
height:auto !important;
margin-bottom:15px !important;
}
.about-middle .col-1 li img,
.about-middle .col-2 li img,
.about-middle .col-3 li img{
height:auto !important;
width:100%;
}


@media (max-width:640px){
#header div.section,
#messages div.section,
#main,
#footer-wrapper div.section {
 width: 100%;
}

#block-views-banner-slider-block .view-header{
display:none;
}
#block-views-banner-slider-block .view-footer .home-video .video-button{
position:initial;
padding-left:0px;
padding-right:0px;
}
#block-block-3{
display:none;
}
#block-block-11{
display:block;
}

#block-block-6{
display:block;
}
#main-menu{
display:none;
}
}

@media (max-width:480px){

#header div.section,
#messages div.section,
#main,
#footer-wrapper div.section {
 width: 100%;
}


}
