
#block-lang-dropdown-language{
width:84px;
float: left;
}
#block-block-15{
overflow:hidden;
float:left;
}
#block-block-15 select{
background:none;
background:url("../images/drop.png") no-repeat right center;
background-size:25px 25px;
color:#7B7B7B;
-webkit-appearance:none;
-moz-appearance:none;
width: 120px;
padding-left: 10px;
    height: 25px;
}
#block-block-15 a.enter{
    vertical-align:middle;
    height: 25px;
    background: #288345;
    color: white;
    width: 40px;
    text-align:center;
    line-height: 25px;
    margin-left: 3px;
 
}
