
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
width:100%;
}
#page-wrapper {
  min-height: 100%;
  width: 100%;
max-width: 1400px;
    margin: 0 auto;
}
#header div.section,
#messages div.section,
#main,

#header div.section {
  position: relative;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}

#main-wrapper {
  min-height: 300px;
}

#breadcrumb {
  margin: 0 15px;
}

#footer-wrapper{

padding: 0px 0px 20px;
}

