.node-type-article .field-name-field-image{
width:1360px;
overflow:hidden;
}
.node-type-article .field-name-field-image .field-items{
overflow:hidden;
position:relative;
}
.node-type-article .field-name-field-image .field-items .field-item{
width:440px;
float:left;
margin-right:20px;	
}
.node-type-article .field-name-field-image .field-items .field-item img{
width:100%;
height:auto;
}
.node-type-article .region-content{
position:relative;
}
#block-block-13{
overflow:hidden;
width:1360px;
top: 48%;
position: absolute;
}
#block-block-13 .content{
margin:0 auto;
}
#block-block-13 p{
overflow:hidden;
margin:0  auto;
}
#block-block-13 .bt-left{
float:left;
margin-left:10px;
}
#block-block-13 .bt-right{
float:right;
margin-right:10px;
}
