.node-type-article .field-name-field-image{
width:1360px;
overflow:hidden;
}
.node-type-article .field-name-field-image .field-items{
overflow:hidden;
position:relative;
}
.node-type-article .field-name-field-image .field-items .field-item{
width:440px;
float:left;
margin-right:20px;
height:284px;	
}
.node-type-article .field-name-field-image .field-items .field-item img{
width:100%;
height:270px	;
}
.node-type-article .region-content{
position:relative;
}
#block-block-13{
overflow:hidden;
width:1360px;
top: 48%;
position: absolute;
}
#block-block-13 .content{
margin:0 auto;
}
#block-block-13 p{
overflow:hidden;
margin:0  auto;
}
#block-block-13 .bt-left{
float:left;
margin-left:10px;
}
#block-block-13 .bt-right{
float:right;
margin-right:10px;
}
@media only screen and (min-width:320px) and (max-width:960px){
.node-type-article .field-name-field-image{
width:100%;
}
#block-block-13{
display:none;
}
.node-type-article .field-name-field-image .field-items{
width:100% !important;
}
.node-type-article .field-name-field-image .field-items .field-item{
width:100%;
float:none;
height:auto;
}
.node-type-article .field-name-field-image .field-items .field-item img{
height:auto;
}
.node-type-article .field-name-field-image>p:nth-child(2n+1){
position: absolute;
bottom:5px !important;
left: 43%;
background:url("../images/bt-bottom.png") no-repeat;
width:47px;
height:24px;
text-indent: -99999px;
}
.node-type-article .field-name-field-image>p:nth-child(2n+2){
position: absolute;
top: 100px;
left: 43%;
background:url("../images/bt-top.png") no-repeat;
width:47px;
height:24px;
text-indent: -99999px;
}
}
@media only screen and (min-width:961px) and (max-width:1359px){
.node-type-article .field-name-field-image{
width:900px;
margin:0 auto;
}
#block-block-13{
width:900px;
left: 3%;
}
.node-type-article .field-name-body{
width:900px;
margin:0 auto;
}
}
