.page-social-responsibility .views-field-field-image{
width:30%;
float:left;
}
.page-social-responsibility .views-field-field-image img{
width:100%;
height:auto;
}
.page-social-responsibility .views-field-title{
width:68%;
float:left;
margin-left:15px;
}
.page-social-responsibility .views-field-title a{
color:#416148;
font-weight:bold;
font-size:16px;
}
.page-social-responsibility .views-field-body{
width:68%;
float:left;
margin-left:15px;
}
.page-social-responsibility .views-field-body a{
color:#416148;
display: block;
margin-top: 32px;
}
.page-social-responsibility .views-row{
overflow:hidden;
border-bottom:1px solid #ccc;
margin-bottom:15px;
padding-bottom:10px;
}
@media only screen and (min-width:320px) and (max-width:960px){
.page-social-responsibility .views-field-field-image{
width:100%;
}
.page-social-responsibility .views-field-title{
width:100%;
}
.page-social-responsibility .views-field-body{
width:100%;
}
}
@media only screen and (min-width:961px) and (max-width:1199px){
.page-social-responsibility .views-field-body a{
margin-top:0px;
}
}
